@model List<ProjectBreadPit.Models.Broodje>

@{
    ViewData["Title"] = "Sandwiches";

}

<div class="hamburger-menu-container">
    <div class="hamburger-menu" onclick="toggleCartDetails()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <span class="menu-text">Close/Open Shopping cart</span>
</div>


<div class="cart-details" style="display: none;">
    <h2>Shopping Cart</h2>
    <ul id="cart-items">
       
    </ul>
    <div>Total: <span id="cart-total"></span></div>
</div>
<h1>Sandwiches</h1>


<div class="row">
    @foreach (var broodje in Model)
    {
            <div class="col-md-3 mb-3">
                <div class="card">
                    <div class="notification-container"></div>
                    <img src="@broodje.ImageName" class="card-img-top" alt="@broodje.Name">
                    <div class="card-body">
                        <h5 class="card-title">@broodje.Name</h5>
                        <p class="card-text">Price: €@broodje.Price</p>
                        <div class="form-group">
                            <label for="quantity">Quantity:</label>
                            <select class="form-control" id="quantity" name="quantity">
                            @for (var i = 1; i <= 10; i++)
                            {
                                        <option value="@i">@i</option>
                            }
                            </select>
                        </div>
                        <button type="button" class="btn btn-primary btn-add-to-cart mt-3" data-sandwich-id="@broodje.Id" data-sandwich-price="@broodje.Price" data-sandwich-name="@broodje.Name">Add to Cart</button>
                    </div>
                </div>
            </div>
    }
</div>


@section Scripts {
        <script>
            $(document).ready(function () {
                $('.btn-add-to-cart').click(function () {
                    var broodjeId = $(this).data('sandwich-id');
                    var broodjePrice = $(this).data('sandwich-price');
                    var broodjeName = $(this).data('sandwich-name');
                    var quantity = $(this).closest('.card-body').find('#quantity').val();

                    $.ajax({
                        url: '/Home/AddToCart',
                        type: 'POST',
                        data: {
                            broodjeId: broodjeId,
                            broodjeName: broodjeName,
                            price: broodjePrice,
                            quantity: quantity
                        },
                        success: function (response) {
                            console.log("Item successfully added to the cart");

                            $.ajax({
                                url: '/Cart/GetCartDetails',
                                type: 'GET',
                                success: function (response) {
                                    $('#cart-items').html(response.itemsHtml);
                                    $('#cart-total').text(response.total);
                                },
                                error: function (xhr, status, error) {
                                    console.error("Error retrieving cart details: " + error);
                                }
                            });
                        },
                        error: function (xhr, status, error) {
                            console.error("Error adding item to cart: " + error);
                        }
                    });
                });
            });

            function toggleCartDetails() {
                var cartDetails = document.querySelector('.cart-details');
                cartDetails.style.display = (cartDetails.style.display === 'none') ? 'block' : 'none';
            }
        </script>
}
