@model List<ProjectBreadPit.Models.Broodje>

@{
    ViewData["Title"] = "Sandwiches";
}

<h1>Sandwiches</h1>

<div class="row">
    @foreach (var broodje in Model)
    {
            <div class="col-md-3 mb-3">
                <div class="card">
                    <img src="@broodje.ImageName" class="card-img-top" alt="@broodje.Name">
                    <div class="card-body">
                        <h5 class="card-title">@broodje.Name</h5>
                        <p class="card-text">Price: $@broodje.Price</p>
                        <div class="form-group">
                            <label for="quantity">Quantity:</label>
                            <select class="form-control" id="quantity" name="quantity">
                            @for (var i = 1; i <= 10; i++)
                            {
                                        <option value="@i">@i</option>
                            }
                            </select>
                        </div>
                        <button type="button" class="btn btn-primary btn-add-to-cart" data-sandwich-id="@broodje.Id">Add to Cart</button>
                    </div>
                </div>
            </div>
    }
</div>

@section Scripts {
        <script>
            $(document).ready(function () {
                $('.btn-add-to-cart').click(function () {
                    var broodjeId = $(this).data('broodje-id');
                    var hoeveelheid = $(this).closest('.card-body').find('#hoeveelheid').val();
                    // You can implement the logic to add the sandwich to the cart here
                    console.log("Broodje toegevoegd met ID " + broodjeId + " en hoeveelheid " + hoeveelheid + " aan het mandje.");
                });
            });
        </script>
}
